
# ----------------------------
# Management node parameters
# ----------------------------

[ndb_mgmd default]
DataDir={{ mysqlc_config.ndb_mgmd.data_dir }}
PortNumber={{ mysqlc_config.ndb_mgmd.port }}


{% for mgmt_node in mysqlc_nodes.mgmt %}
[ndb_mgmd]
HostName={{ mgmt_node.ip_address }}
NodeId={{ mgmt_node.node_id }}

{% endfor %}


# ----------------------------
# Data node parameters
# ----------------------------

[ndbd default]
NoOfReplicas={{ mysqlc_config.ndbd.no_of_replicas }}
ServerPort={{ mysqlc_config.ndbd.port }}
DataDir={{ mysqlc_config.ndbd.data_dir }}


{% for data_node in mysqlc_nodes.data %}
[ndbd]
HostName={{ data_node.ip_address }}
NodeId={{ data_node.node_id }}
NodeGroup={{ data_node.node_group }}

{% endfor %}
