#!/bin/bash
#
# chkconfig: 345 99 10
#
### BEGIN INIT INFO
# Provides:          {{ mysqlc_mgmt.service_name }}
# Required-Start:    $syslog
# Required-Stop:     $syslog
# Should-Start:      $local_fs $remote_fs $network $named $time
# Should-Stop:       $local_fs $remote_fs $network $named $time
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start and stop the mysql database cluster management daemon
# Description:       Controls the MySQL NDB Management Node daemon "ndb_mgmd".
### END INIT INFO
#

. /etc/init.d/functions

if [ -f {{ mysqlc_sysconfig_file }} ]; then
    . {{ mysqlc_sysconfig_file }}
elif [ -f /etc/default/mysqlc ]; then
    . /etc/default/mysqlc
fi

# Variables
SELF=$(cd $(dirname $0); pwd -P)/$(basename $0)

DAEMON=$BASE_DIR/bin/ndb_mgmd

# Safeguard (relative paths, core dumps..)
cd /
umask 077

# Exit *silently* if we're not supposed to be started.
#
# The Debian scripts should execute these scripts to stop and start
# the daemon when upgrading if it is started. On the other hand it should
# remain silently if the server has not even been configured.
# See /usr/share/doc/mysql-server-*/README.Debian for more information.
test -x $DAEMON || exit 0
test -r $CONF_INI || exit 0

#
# main()
#
case "${1:-''}" in
    'start')
        [ -x $DAEMON ] || exit 5
        echo -n "Starting $DAEMON: "
        sudo -u $MYSQLC_USER $DAEMON -f $CONF_INI --configdir={{ mysqlc_config_dir }} -d
        ;;

    'reload')
        [ -x $DAEMON ] || exit 5
        echo -n "Starting $DAEMON with config.ini reloading: "
        sudo -u $MYSQLC_USER $DAEMON -f $CONF_INI --configdir={{ mysqlc_config_dir }} --reload -d
        ;;

    'start-initial')
        [ -x $DAEMON ] || exit 5
        echo -n "Initial starting $DAEMON: "
        sudo -u $MYSQLC_USER $DAEMON -f $CONF_INI --configdir={{ mysqlc_config_dir }} --initial -d
        ;;
    *)
        echo "Usage: $SELF start|reload|start-initial"
        exit 1
        ;;
esac
